/**
 * BUTTONS
 *
 * Utilities to create a variety of buttons style links.
 *
 * Example:
 *
 * <a href="#" class="button">Button</a>
 */

//
// VARIABLES
//

/**
 * Defaults.
 */

$buttons-button-padding: $base-spacing-medium $base-spacing-large !default;
$buttons-button-margin: 0 !default;

$buttons-button-font-family: $base-font-family !default;
$buttons-button-font-weight: $base-font-weight !default;

$buttons-button-border-width: 0 !default;
$buttons-button-border-style: solid !default;

$buttons-button-transition-property: $base-transition-property !default;
$buttons-button-transition-speed: $base-transition-speed !default;
$buttons-button-transition-ease: $base-transition-ease !default;

$buttons-button-opacity: .5;
$buttons-button-lightness-factor: $base-lightness-factor !default;

/**
 * Default style.
 */

$buttons-button-color: $base-white-color !default;
$buttons-button-background: $base-primary-color !default;
$buttons-button-border-color: $base-primary-color !default;
$buttons-button-border-radius: $base-border-radius !default;

/**
 * Themes.
 */

/* Error */
$buttons-button--error-color: $base-white-color !default;
$buttons-button--error-background: $base-error-color !default;
$buttons-button--error-border-color: $base-error-color !default;

/* Info */
$buttons-button--info-color: $base-white-color !default;
$buttons-button--info-background: $base-info-color !default;
$buttons-button--info-border-color: $base-info-color !default;

/* Muted */
$buttons-button--muted-color: $base-white-color !default;
$buttons-button--muted-background: $base-muted-color !default;
$buttons-button--muted-border-color: $base-muted-color !default;

/* Success */
$buttons-button--success-color: $base-white-color !default;
$buttons-button--success-background: $base-success-color !default;
$buttons-button--success-border-color: $base-success-color !default;

/* Warning */
$buttons-button--warning-color: $base-white-color !default;
$buttons-button--warning-background: $base-warning-color !default;
$buttons-button--warning-border-color: $base-warning-color !default;

/* Link */
$buttons-button--link-color: $base-primary-color !default;
$buttons-button--link-background: transparent !default;
$buttons-button--link-border-color: transparent !default;

/**
 * Sizes.
 */

$buttons-button--small-padding: $base-spacing-small $base-spacing-medium !default;
$buttons-button--large-padding: $base-spacing-large $base-spacing-xlarge !default;

//
// IMPORTS
//

@import "mixins";
@import "button";
@import "themes";
@import "sizes";
